@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-hex: #2E2A27;
  --background-end-hex: #2E2A27;

}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-hex))
    )
    rgb(var(--background-start-hex));
}
